{% extends "layout/common/index.html.twig" %}

{% block title %}Books{% endblock %}

{% block contents %}
  <div class="m-4">
    <h1 class="mb-4">Edit book</h1>
    {{ form(form) }}
  </div>
{% endblock %}
