{% extends "layout/common/index.html.twig" %}

{% block title %}Books{% endblock %}

{% block contents %}
  <script>
    $(document).ready(function () {
      $('#booksDataTable').DataTable();

      document.querySelectorAll('form[data-form-type="book-title"]').forEach((elem) => {
        const bookId = elem.getAttribute('data-book-id');

        elem.querySelector('input').addEventListener('change', (v) => {
          fetch(`/books/patch/${bookId}`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
              field: 'title',
              value: v.srcElement.value,
            }),
          });
        })
      });

      document.querySelectorAll('form[data-form-type="book-description"]').forEach((elem) => {
        const bookId = elem.getAttribute('data-book-id');

        elem.querySelector('textarea').addEventListener('change', (v) => {
          fetch(`/books/patch/${bookId}`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
              field: 'description',
              value: v.srcElement.value,
            }),
          });
        })
      });

      document.querySelectorAll('form[data-form-type="book-authors"]').forEach((elem) => {
        const bookId = elem.getAttribute('data-book-id');
        const select = elem.querySelector('select');

        select.addEventListener('change', (v) => {
          const authorIds = Array.from(select.querySelectorAll('option:checked')).map((el) => el.value);

          console.log(authorIds);

          fetch(`/books/patch/${bookId}`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
              field: 'authors',
              value: authorIds,
            }),
          });
        })
      });

      document.querySelectorAll('form[data-form-type="book-published-at"]').forEach((elem) => {
        const bookId = elem.getAttribute('data-book-id');

        const updatePublishedAt = () => {
          const day = parseInt(elem.querySelector('select[name="book[publishedAt][day]"] option:checked').value, 10);
          const month = parseInt(elem.querySelector('select[name="book[publishedAt][month]"] option:checked').value, 10);
          const year = parseInt(elem.querySelector('select[name="book[publishedAt][year]"] option:checked').value, 10);

          const newPublishedAt = new Date(year, month - 1, day + 1, 0, 0, 0, 0);

          fetch(`/books/patch/${bookId}`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
              field: 'published_at',
              value: Math.ceil(newPublishedAt.getTime() / 1000),
            }),
          });
        };

        elem.querySelectorAll('select').forEach((s) => s.addEventListener('change', updatePublishedAt));
      });
    });
  </script>

  <div class="m-4">
    <h1 class="mb-4">Books</h1>
    <table id="booksDataTable" class="table table-striped table-bordered mb-4" style="width:100%">
      <thead>
      <tr>
        <td style="width: 50px;">ID</td>
        <td style="width: 250px;">Cover</td>
        <td style="width: auto;">Title</td>
        <td style="width: 300px;">Description</td>
        <td style="width: 200px;">Authors</td>
        <td style="width: 200px;">Published At</td>
        <td style="width: 170px;"></td>
      </tr>
      </thead>
      <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.id }}</td>
          <td>
            {% if book.cover %}
              <img src="/uploads/book/covers/{{ book.cover }}" class="img-fluid" alt="Responsive image">
            {% endif %}
          </td>
          <td><form data-form-type="book-title" data-book-id="{{ book.id }}">{{ form_row(book.form.title) }}</form></td>
          <td><form data-form-type="book-description" data-book-id="{{ book.id }}">{{ form_row(book.form.description) }}</form></td>
          <td><form data-form-type="book-authors" data-book-id="{{ book.id }}">{{ form_row(book.form.authors) }}</form></td>
          <td><form data-form-type="book-published-at" data-book-id="{{ book.id }}">{{ form_row(book.form.publishedAt) }}</form></td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-primary" href="{{ path('books_edit', { id: book.id }) }}">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
              </a>
              <a class="btn btn-danger" href="{{ path('books_delete', { id: book.id }) }}">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <a class="btn btn-lg btn-success" href="{{ path('books_add') }}">Add book</a>
    </div>
  </div>
{% endblock %}
