{% extends "layout/common/index.html.twig" %}

{% block title %}Authors{% endblock %}

{% block contents %}
  <div class="m-4">
    <h1 class="mb-4">Edit author</h1>
    {{ form(form) }}
  </div>
{% endblock %}
