{% extends "layout/common/index.html.twig" %}

{% block title %}Authors{% endblock %}

{% block contents %}
  <script>
    $(document).ready(function () {
      $('#authorsDataTable').DataTable();
    });
  </script>

  <div class="m-4">
    <h1 class="mb-4">Authors</h1>
    <table id="authorsDataTable" class="table table-striped table-bordered mb-4" style="width:100%">
      <thead>
      <tr>
        <td>ID</td>
        <td style="width: 100%">Name</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for author in authors %}
        <tr>
          <td>{{ author.id }}</td>
          <td>{{ author.name }}</td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-primary" href="{{ path('authors_edit', { id: author.id }) }}">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
              </a>
              <a class="btn btn-danger" href="{{ path('authors_delete', { id: author.id }) }}">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <a class="btn btn-lg btn-success" href="{{ path('authors_add') }}">Add author</a>
    </div>
  </div>
{% endblock %}
