{% extends "layout/common/index.html.twig" %}

{% block title %}Home{% endblock %}

{% block contents %}
    <ul>
        <li><a href="{{ path('authors_index') }}">Authors</a></li>
        <li><a href="{{ path('books_index') }}">Books</a></li>
    </ul>
{% endblock %}
